:root {
    --color-1: hsl(0, 0%, 95%);
    --color-2: hsla(0, 0%, 100%, 0.75);
    --color-3: hsl(31, 77%, 52%);
    --color-4: hsl(184, 100%, 22%);
    --color-5: hsl(179, 100%, 13%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-1);
}

.principal {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.div-sedans {
    background: var(--color-3);
    width: 230px;
    height: 330px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.div-suvs {
    background: var(--color-4);
    width: 230px;
    height: 330px;
}

.div-luxury {
    background: var(--color-5);
    width: 230px;
    height: 330px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.div-img {
    padding: 10px 25px 15px 25px;
}

.div-text {
    font-size: 14px;
}

.div-text h1 {
    padding: 10px 25px 15px 25px;
    text-transform: uppercase;
    color: var(--color-1);
}

.div-text p {
    width: 250px;
    padding: 10px 25px 15px 25px;
    color: var(--color-2);
}

.div-text button {
    position: relative;
    left: 25px;
    top: 15px;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    background: var(--color-1);
    cursor: pointer;
}

#button-1 {
    color: var(--color-3);
}

#button-1:hover {
    background: var(--color-3);
    color: var(--color-1);
    border: 2px solid;
}

#button-2 {
    color: var(--color-4);
}

#button-2:hover {
    background: var(--color-4);
    color: var(--color-1);
    border: 2px solid;
}

#button-3 {
    color: var(--color-5);
}

#button-3:hover {
    background: var(--color-5);
    color: var(--color-1);
    border: 2px solid;
}

@media(min-width: 576px){

    .container {
        max-width: 960px;
        height: 650px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
    }

    .div-sedans {
        width: 190px;
        height: 350px;
        border-radius: 0%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .div-suvs {
        width: 190px;
        height: 350px;
    }

    .div-luxury {
        width: 190px;
        height: 350px;
        border-radius: 0%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .div-text {
        font-size: 16px;
    }
    
    .div-text p {
        width: 190px;
    }

    .div-text button {
        top: 10px;
        padding: 12px 25px 15px 25px;
    }

    #button-3 {
       position: relative;
       top: 30px;
    }

}

@media(min-width: 768px){
    .container {
        display: flex;
    }

    .div-sedans {
        width: 250px;
        height: 400px;
        border-radius: 0%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .div-suvs {
        width: 250px;
        height: 400px;
    }

    .div-luxury {
        width: 250px;
        height: 400px;
        border-radius: 0%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .div-text {
        font-size: 18px;
    }

    .div-text p {
        width: 240px;
    }

    .div-text button {
        top: 60px;
    }

    #button-2 {
        position: relative;
        top: 60px;
    }

    #button-3 {
        top: 60px;
    }
}